*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
h1{
    text-align: center;
    color: blue;
    font-size: 20px;
    font-weight: 25px;
    margin-top: 20px;

}
body
{
 background-color: azure;

}
.nature-img
{
    margin:20px;

    border: 2px solid lightblue;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}
.images
{
    border: 2px solid blue;
    margin:20px;
    width: 350px;
    height:350px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    
}
.images img
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: tansform 1s;
    opacity: 0.8;
}
.images img:hover
{
  box-shadow: 5px 5px 25px 20px red;
  transform: scale(1.2,1.2);
  opacity: 1;
}
.img-content
{
    background-color: rgba(12, 1, 7, 0.842);
    height: 100%;
    width: 0%;
    position: absolute;
    top: 0px;
    right: 0px;
    /* bottom: 0px; */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    overflow: hidden;
    transition: width 1s;
}
.img-content h1
{ 
    margin-top: 90px;
}
.images:hover .img-content
{
    width: 100%;
}